extends layout

block content
    h1 #{user}
    table.table
        thead
            tr
            th(scope='col') Product Name
            |       
            th(scope='col') Product Price
            |       
            th(scope='col') Product Quantity
            |       
            th(scope='col') Total
        |   
        each product,i in products
            tbody
                tr   
                td #{product.cart_product_name}
                |       
                td #{product.cart_product_price}
                |       
                td #{product.cart_product_quantity}
                |       
                td #{parseInt(product.cart_product_price)*parseInt(product.cart_product_quantity)}
        tfoot
            tr
            td Total
            |
            td
            |
            td
            |
            td #{total}
    form(action='/carts/charge/'+total+'/'+products+'/'+uid+'/'+address.paddress+'/'+address.mobileNumber+'/'+address.state+'/'+address.city+'/'+address.landmark, method='POST')
        script.stripe-button(src='https://checkout.stripe.com/checkout.js', data-key='pk_test_8iOvKO7QyqHVoxN4Zh9t2mqb00ASNTG585', data-amount=total, data-name=carts, data-description=carts,data-zip-code='true', data-locale='auto')
        script.
            document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        button.btn.btn-outline-dark.text-white.btn-lg(type='submit') Proceed to payment